@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff; /* slate-800 */
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff; /* indigo-500 */
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #174790; /* indigo-600 */
  }

  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #2b7fff #ffffff;
  }
}

#print-container {
  display: none;
}

@media print {
  /* Hide the entire app */
  body > *:not(#print-container) {
    display: none !important;
  }

  /* Show print container and let it expand fully */
  #print-container {
    display: block !important;
    position: static !important;
    width: 100% !important;
    height: auto !important;
    overflow: visible !important;
  }

  #print-container * {
    overflow: visible !important;
    max-height: none !important;
  }

  @page {
    size: A3 landscape;
    margin: 1cm;
  }

  body {
    background: white !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }
}