@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff; /* slate-800 */
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff; /* indigo-500 */
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #174790; /* indigo-600 */
  }

  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #2b7fff #ffffff;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  
  @page {
    size: landscape;
    margin: 1cm;
  }

  body {
    background: white !important;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}